@import "../../node_modules/spectre.css/dist/spectre.min.css";
@import "../../node_modules/spectre.css/dist/spectre-exp.min.css";
@import "../../node_modules/spectre.css/dist/spectre-icons.min.css";
@import "../../node_modules/spectre.css/docs/dist/docs.min.css";

html, body {
    min-height: 100vh;
}

.docs-container {
    min-height: 100vh;
}

// For some reason this isn't working with just spectre css
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

.nav {
    padding: 0.3rem;
}

.nav-item a {
    color: #5b657a;
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
}

.circle {
    border-radius: 50%;
}

.docs-navbar {
    z-index: 200;
}

.s-title {
    border-bottom: 1px solid #e7e7e7
}

.s-description {
    margin-top: 1rem;
}

.docs-grid-page-col {
    background: #f8f9fa;
    padding: 4px;
    text-align: center;
}