@import "../node_modules/spectre.css/dist/spectre.min";
@import "../node_modules/spectre.css/dist/spectre-exp.min";
@import "../node_modules/spectre.css/dist/spectre-icons.min";
@import "../node_modules/spectre.css/docs/dist/docs.min";s

html, body {
    height: 100vh;
}

// For some reason this isn't working with just spectre css
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

/*.buttons button {
    margin: 10px;
}*/

.nav {
    padding: 0.3rem;
}

.nav-item a {
    color: #5b657a;
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
}
